{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "",
    "FUNCTIONS_WORKER_RUNTIME": "dotnet-isolated",
    "author" : "john john",
    "llm_throttling_window_milliseconds" : "60000",
    "llm_throttling_calls" : "3",
    "ip_throttling_window_milliseconds" : "1000",
    "ip_throttling_calls" : "1",
    "ip_api_key":"",
    
    "aoai_endpoint": "https://<lorem-aoai-endpoint>.openai.azure.com/openai/",
    "aoai_deployment": "",
    "aoai_api_key": ""
  }
}
