<div class="centered-container">

    <lottie-player src="assets/lottie/90342-security.json" background="transparent" speed="1" loop autoplay
        class="container-lottie-row">
    </lottie-player>

    <div style="width: 70%; margin:auto">

        <h1><img alt="logo" src="assets/logo.png" width="72" height="72"
                style="vertical-align:middle; background-color: DimGray;border-radius: 15%;" />&nbsp;az-firewall-mon
        </h1>
        <p><b>{{username}}</b>, welcome to <b>az-firewall-mon</b>! This tool allows to view, search, filter and inspect the log stream of your
            Azure Firewall.
            Connect your Azure Firewall and start monitoring your network traffic
            (<a rel="noopener" target="_blank"
                href="https://github.com/nicolgit/azure-firewall-mon#setup-a-connection-with-your-azure-firewall">how?</a>)
        </p>
        <mat-checkbox color="primary" [checked]="isDemoMode" (change)="setDemo($event.checked)">demo mode</mat-checkbox>
        <br />
 
        <mat-form-field appearance="outline" class="login-field">
            <mat-label>Event Hub connection string</mat-label>
            <input title="not used" matInput [disabled]="isDemoMode" [(ngModel)]="eventHubConnectionString"
                (input)="setStart()">
        </mat-form-field>
        <br />
        <mat-form-field appearance="outline" class="login-field">
            <mat-label>Event Hub Consumer Group</mat-label>
            <input title="not used" matInput [disabled]="isDemoMode" [(ngModel)]="eventHubConsumerGroup"
                (input)="setStart()">
        </mat-form-field>
        <br />

        <a mat-flat-button color="primary" [disabled]="isStartDisabled" (click)="navigateNext()"
            class="login-field">Let's begin</a>
    <br />
    <br />
    <br />
    <br />
    <p class="logon-footer"><i>Build date {{buildDate}}</i></p>

    <p class="logon-footer">This is an open-source project available on <a rel="noopener" target="_blank"
            href="https://github.com/nicolgit/azure-firewall-mon">GitHub</a>, under <a rel="noopener" target="_blank"
            href="https://github.com/nicolgit/azure-firewall-mon/blob/main/LICENSE">MIT license</a>.</p>

    <p>Please note that while being developed by a Microsoft employee, this is not a Microsoft service or product.
        az-firewall-mon is a personal driven project supported by the community, there are none implicit or explicit
        obligations related to this project,
        it is provided 'as is' with no warranties and confer no rights.</p>
    </div>
</div>