lottie-player {
    width: 250px;
    height: 250px;
}

$spacing: 12px;

.centered-container {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.centered-container > * {
    width: 100%;
    margin: $spacing;
}

.container-lottie-row {
    margin: 0 auto !important;
}