$bottom-bar-size: 30px;

.lottie-player {
  width: 250px;
  height: 250px;

  display: block;
  margin-left: auto;
  margin-right: auto;
}

.lottie-text {
  width: 100%;
  text-align: center;
}


.search-field {
  font-size: 14px;
  position: absolute;
  left: 50%;
  width: 400px;
  -webkit-transform: translate(-50%,0);
  transform: translate(-50%, 0);
}

.main-toolbar-buttons {
  margin-left: auto;
  margin-right: 0;
}

// icons inside top right buttons
.main-toolbar-buttons button span{
  vertical-align: middle;
  margin-right: 3px;
}


.parent {
  display: flex;
  flex-flow: column;
  align-content: stretch;
  width: 100%;
  height: 100%;
  justify-content: space-around;
}

.main-toolbar {
  flex-grow: 0;
}

.main{
  flex-grow: 1;
  margin: 6px;
}

.main-accordionbar {
  flex-grow: 0;
  padding: 6px;
}

.main-bottombar div {
  margin-top:4px;
  display: inline-block;
  width: 100%;
  text-align: center;
}

table {
  width: 100%;
  table-layout: fixed;
}

.col-sm {
  width: 220px;
  border-right: 1px solid currentColor;
  padding-right: 6px;
}

.col-sm-2 {
  padding-left: 6px;
  width: 120px;
}

.col-small {
  width: 60px;
}

.col {
  background-color: white;
}


.mat-mdc-table {
  width: 100%;
  &.resizing {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: col-resize;
  }
  .mat-mdc-cell {
    overflow:hidden;
    white-space: nowrap;
    span {   
      display: inline-block; 
      overflow: hidden;
      white-space: nowrap;
    }
  }
  .mat-mdc-header-cell {
    position: relative;      
    &:not(:last-child) {
      .resize-holder {
        cursor: col-resize;
        width: 20px;
        height: 100%;
        position: absolute;
        right: -10px;
        top: 0;
        z-index: 1;
      }
    }
  }
  .mat-mdc-cell,
  .mat-mdc-header-cell {
    border-right: 1px solid rgba(0, 0, 0, 0.12);
    &:not(:nth-child(1)) {
      padding: 0 10px;
    }
  }
}

.highlight-flag {
  color: red;  
  font-variation-settings:
  'FILL' 0,
  'wght' 700,
  'GRAD' 0,
  'opsz' 20
}

pre {
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  white-space: pre-wrap;       /* css-3 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.flag-icon {
  margin: 3px;
}
