<mat-toolbar color="primary" class="main-toolbar">
  <mat-toolbar-row>
    <span>Azure Firewall mon</span>
    <span class="example-spacer"></span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="second-row-toolbar">
  <mat-form-field appearance="fill" class="search-field">
    <mat-label>filter</mat-label>
    <input title="not used" matInput [(ngModel)]="filterText" (input)="filterTextChanged()">
  </mat-form-field>
</div>


<div class="wrapper" *ngIf="totalRows==0">
  <lottie-player src="assets/lottie/lf20_giodppcr.json"  
      background="transparent"  
      speed="1" 
      loop  
      autoplay
      class="lottie-player">
  </lottie-player>
  <div class="lottie-text">{{message}}</div>
</div>



<cdk-virtual-scroll-viewport tvsItemSize class="wrapper mat-elevation-z2"  *ngIf="totalRows>0">
  <table mat-table [dataSource]="dataSource">
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <ng-container matColumnDef="time">
      <th mat-header-cell
          *matHeaderCellDef
          class="col-sm">Timestamp</th>
      <td mat-cell
          *matCellDef="let element"
          class="col-sm">{{element.time}}</td>
    </ng-container>

    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef class="col-sm-2">Category</th>
      <td mat-cell *matCellDef="let element" class="col-sm-2">{{element.category}}</td>
    </ng-container>

    <ng-container matColumnDef="protocol">
      <th mat-header-cell *matHeaderCellDef class="col-sm-2">Protocol</th>
      <td mat-cell *matCellDef="let element" class="col-sm-2">{{element.protocol}}</td>
    </ng-container>

    <ng-container matColumnDef="sourceip">
      <th mat-header-cell *matHeaderCellDef>Source IP</th>
      <td mat-cell *matCellDef="let element">{{element.sourceip}}</td>
    </ng-container>

    <ng-container matColumnDef="srcport">
      <th mat-header-cell *matHeaderCellDef>Source Port</th>
      <td mat-cell *matCellDef="let element">{{element.srcport}}</td>
    </ng-container>

    <ng-container matColumnDef="targetip">
      <th mat-header-cell *matHeaderCellDef>Target IP</th>
      <td mat-cell *matCellDef="let element">{{element.targetip}}</td>
    </ng-container>

    <ng-container matColumnDef="targetport">
      <th mat-header-cell *matHeaderCellDef>Target Port</th>
      <td mat-cell *matCellDef="let element">{{element.targetport}}</td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>ACTION</th>
      <td mat-cell *matCellDef="let element">{{element.action}}</td>
    </ng-container>    
  </table>

</cdk-virtual-scroll-viewport>
<div class="bottom-bar">
    <div>rows {{skippedRows}} skipped, {{visibleRows}}/{{totalRows}} visible/available</div>
</div>