<div class="parent">


  <mat-toolbar color="primary" class="main-toolbar">
  <mat-toolbar-row>
    <span>Azure Firewall mon</span>
    <span class="example-spacer"></span>
    
    <mat-form-field appearance="fill" class="search-field" *ngIf="totalRows>0">
      <span matPrefix class="material-symbols-outlined">search</span>
      <mat-label>filter</mat-label>
      <input title="not used" matInput [(ngModel)]="filterText" (input)="filterTextChanged()">
    </mat-form-field>
  </mat-toolbar-row>
  </mat-toolbar>

  <div class="main" *ngIf="totalRows==0">
    <lottie-player src="assets/lottie/lf20_giodppcr.json"  
        background="transparent"  
        speed="1" 
        loop  
        autoplay
        class="lottie-player">
    </lottie-player>
    <div class="lottie-text">{{message}}</div>
  </div>
  

  <cdk-virtual-scroll-viewport tvsItemSize class="main mat-elevation-z2"  *ngIf="totalRows>0">
    <table mat-table [dataSource]="dataSource">
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <ng-container matColumnDef="time">
        <th mat-header-cell *matHeaderCellDef class="col-sm" [resizeColumn]="true">Timestamp</th>
        <td mat-cell (click)="onRowClicked(element)" *matCellDef="let element" class="col-sm"><span [innerHtml]="highlightSelection(element.time)"></span></td>
      </ng-container>

      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef class="col-sm-2" [resizeColumn]="true">Category</th>
        <td mat-cell (click)="onRowClicked(element)" *matCellDef="let element" class="col-sm-2"><span [innerHtml]="highlightSelection(element.category)"></span></td>
      </ng-container>

      <ng-container matColumnDef="protocol">
        <th mat-header-cell *matHeaderCellDef class="col-small" [resizeColumn]="true">Protocol</th>
        <td mat-cell (click)="onRowClicked(element)" *matCellDef="let element" class="col-small"><span [innerHtml]="highlightSelection(element.protocol)"></span></td>
      </ng-container>

      <ng-container matColumnDef="source">
        <th mat-header-cell *matHeaderCellDef [resizeColumn]="true">Source</th>
        <td mat-cell (click)="onRowClicked(element)" *matCellDef="let element"><span [innerHtml]="highlightSelection(element.sourceip)"></span><span>:</span><span [innerHtml]="highlightSelection(element.srcport)"></span></td>
      </ng-container>

      <ng-container matColumnDef="target">
        <th mat-header-cell *matHeaderCellDef [resizeColumn]="true">Target</th>
        <td mat-cell (click)="onRowClicked(element)" *matCellDef="let element"><span [innerHtml]="highlightSelection(element.targetip)"></span><span>:</span><span [innerHtml]="highlightSelection(element.targetport)"></span></td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef [resizeColumn]="true">ACTION</th>
        <td mat-cell (click)="onRowClicked(element)" *matCellDef="let element" [ngStyle]="setActionBackground(element.action)"><span [innerHtml]="highlightSelection(element.action)"></span></td>
      </ng-container>    

      <ng-container matColumnDef="policy">
        <th mat-header-cell *matHeaderCellDef  [resizeColumn]="true">POLICY</th>
        <td mat-cell (click)="onRowClicked(element)" *matCellDef="let element"><span [innerHtml]="highlightSelection(element.policy)"></span></td>
      </ng-container>

      <ng-container matColumnDef="targetUrl">
        <th mat-header-cell *matHeaderCellDef  [resizeColumn]="true">URL</th>
        <td mat-cell (click)="onRowClicked(element)" *matCellDef="let element"><span [innerHtml]="highlightSelection(element.targetUrl)"></span></td>
      </ng-container>
    </table>
  </cdk-virtual-scroll-viewport>

  <div class="main-accordionbar" *ngIf="totalRows>0">
    <mat-accordion>
      <mat-expansion-panel [expanded]="panelOpenState == true" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>{{message}}</mat-panel-title>
          <mat-panel-description>
            rows: {{totalRows}} availables, {{visibleRows}} visibles, {{skippedRows}} skipped
          </mat-panel-description>
        </mat-expansion-panel-header>
        <pre>{{selectedRowJson}}</pre>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
