$main-toolbar-size: 70px;
$bottom-bar-size: 30px;
$second-row-toolbar-size: 60px;

.lottie-player {
  width: 250px;
  height: 250px;

  display: block;
  margin-left: auto;
  margin-right: auto;
}

.lottie-text {
  width: 100%;
  text-align: center;
}

.wrapper {
  height: calc(100% - $bottom-bar-size - $second-row-toolbar-size - $main-toolbar-size);
}

.main-toolbar{
  height: $main-toolbar-size;
}

.search-field {
  position: absolute;
  left: 50%;
  width: 400px;
  -webkit-transform: translate(-50%,0);
  transform: translate(-50%, 0);
}

.second-row-toolbar {
  height: $second-row-toolbar-size;
}

.bottom-bar {
  background-color: lightgrey;
  height: $bottom-bar-size;
}

.bottom-bar div {
  margin-top:4px;
  display: inline-block;
  width: 100%;
  text-align: center;
}

table {
  width: 100%;
  table-layout: fixed;
}

.mat-row:hover {
  background-color: lightyellow;
}

.col-sm {
  width: 180px;
  border-right: 1px solid currentColor;
  padding-right: 6px;
  background-color: lightgray;
}

.col-sm-2 {
  padding-left: 6px;
  width: 120px;
}

.col-small {
  width: 60px;
}